{% extends "base.html" %}

<html>
<body>

  <div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
       
      </div>
      <div class="col"> 
        <header class="mb-auto">
           <!-- Logo -->
          <a class="logo" href="#home">
            <h2>Erick Cruz</h2> 
            <!-- <img src="static/images/logo.png" alt="logo" /> -->
          </a>
          <!-- Logo End -->  
       
        </header>
      </div>
      <div class="col">
      
      </div>
    </div>
  </div>

</body>
</html>